    <div class="row">
        <h3>Cadastro de Alunos</h3>
    </div>
    <div class="row">
        <div class="input-field col s12">    
            <label>Nome:</label>
            <input type="text" ng-model="nome"/>
        </div> 
    </div>
    <div class="row">    
        <div class="input-field col s12">   
            <label>SobreNome:</label>
            <input type="text" ng-model="sobrenome"/>
        </div>
    </div>    
    <div class="row">
        <a href="#/visualizar" class="waves-effect waves-light btn-small red" ng-click="adicionar()">Adicionar</a>
    </div>